/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* to fix the way Safari 14+ reads certain Google Fonts incorrectly */
    -webkit-locale: auto;
    white-space: normal;
}

/* End CSS Reset */
/* Global Styinging */
body {
    background: #bada55;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

a {
    color: #a10ebd;
}

h1 {
  text-align: center;
  color: #228b22;
}

h1, h2 {
    /* to fix the way Safari 14+ reads certain Google Fonts property declarations incorrectly */
    font-weight: normal;
}

/* nav styles using Flexbox (screens greater than 899px) */
/* Logo Styling */

.header {
	margin-top: 0;
}

.header {
	background: rgba(104, 151, 187, 1);
}

.header .logo {
	padding-top: 0.25rem;
}

.logo {
	height: 100%;
	max-height: 250px;
	max-width: 187.50px;
    text-align: center;
    text-decoration: none;
	width: 100%;
}

.brand {
	height: auto;
	margin-top: 0;
	max-width: 7.8125rem;
	width: 100%;
}
/* End Header Logo Styling */
/* nav styles using Flexbox (screens greater than 899px) */
.navbar {
    background: transparent;
    width: 100vw;
	display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}

.main-nav {
	width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
	margin-right: 1rem;
	margin-top: 2rem;
}

li {
    font-size: 2.75vh;
    list-style-type: none;
    margin: 0.5vw;
}

a {
    color: #000;
    cursor: pointer;
    padding: 2vw;
    text-decoration: none;
}

a:hover {
    color: #800080;
}

.hamburger {
    display: none;
}

/* End nav styles using Flexbox (screens greater than 899px) */
/* media query for site navigation for screens smaller than 900px */
@media (max-width: 899px) {
    .header {
        background: rgba(104, 151, 187, 1);
        margin-top: 0;
        position: sticky;
        top: 0;
    }

	.header .logo {
		padding-top: 1.5rem;
	}

	.brand {
		margin-top: -1.25rem;
		width: 100%;
		max-width: 7.8125rem;
		height: auto;
	}

    li {
        margin: 0 0 0 1.5rem;
    }

    a {
        display: block;
    }

    /* Responsive Hamburger menu styling */
    .hamburger {
        background-color: transparent;
        /* show the hamburger menu image */
        background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
        background-size: 100%;
        border: none;
        cursor: pointer;
        display: block;
        height: 36px;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 36px;
        /* always keep ham on top of everything */
        z-index: 10000;
    }

    /* change hamburger image to close */
    .showClose {
        background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
        background-size: 100%;
    }

    .main-nav {
		display: block;
        background: #6897BB;
        height: 100vh;
        left: 0;
		margin-top: 0;
		padding-top: 5rem;
        overflow-y: hidden;
        position: fixed;
        top: 0;
        /* hide the menu above the screen by default */
        transform: translateY(-100%);
        /* transition adds a little animation when sliding in and out the menu */
        transition: transform 0.2s ease;
        width: 100vw;
        /* needed for me because of my intro box in index.html.
		Otherwise navigation backgrop would be behind the intro box when opened */
        z-index: 10;
    }

    .showNav {
        /* show the menu */
        transform: translateY(0);
    }
}

/* End media query for site navigation for screens smaller than 900px */

/* Contect Form Styling */

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	max-width: 600px;
	margin: 15vh auto;
	background: #ffc600;
	padding: 1.5rem 0.5rem 3rem;
}

legend {
	margin-bottom: 0.5rem;
}

fieldset {
	display: flex;
	align-items: center;
	width: 97.5%;
	max-width: 600px;
	margin-top: 1.5rem;
	border-style: double;
	border-color: green;
	border-width: 6px;
}

fieldset > label {
	flex: 1 0 120px;
	max-width: 50%;
}

fieldset > label + * {
	flex: 1 0 50%;
}

fieldset input {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 36px;
}

legend {
	padding-left: 0.25rem;
}

label {
	margin-left: 0.25rem;
}

input {
	-webkit-appearance: none;
 	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	color: #228b22;
    font-size: 0.9rem;
    background: #ffc600;
    width: 97.5%;
}

@media (max-width: 799px) {
	fieldset, input {
		display: block;
	}
	input {
		width: 100%;
		max-width: 600px;
	}
}

input[name="firstname"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #228b22;
}

input[name="firstname"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #228b22;
}

input[name="firstname"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #228b22;
}

input[name="firstname"]:-moz-placeholder {
  /* Firefox 18- */
  color: #228b22;
}

input[name="firstname"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #228b22;
}

input[name="firstname"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #228b22;
}

input[name="firstname"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #228b22;
}

input[name="firstname"]:-moz-placeholder {
    /* Firefox 18- */
    color: #228b22;
}

input[name="email"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #228b22;
}

input[name="email"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #228b22;
}

input[name="email"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #228b22;
}

input[name="email"]:-moz-placeholder {
  /* Firefox 18- */
  color: #228b22;
}

/* End contact.html styling */

/* Site Footer  Styling */
.site-credits {
	font-size: 1.3rem;
	letter-spacing: 0.07rem;
    text-align: center;
}

/* Sticky Footer Styling */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.Site-content {
    flex: 1 0 auto;
}

.site-credits {
    flex-shrink: 0;
}

/* End Sticky Footer Styling */
